.h1-name {
    margin-left: 60px;
    color: black;
    font-family: sans-serif;
    margin-bottom: 50px
}

.web-canvas {
    background-color: rgb(238,217,196);
    height: 670px;
    width: 650px;
    position: relative;
}

.card-canvas {
    background-color: rgb(250,240,230);
    height: 400px;
    width: 550px;
    margin-top: 120px;
    margin-left: 450px;
    position: absolute;
    box-shadow: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.picture {
    height: 200px;
    width: 160px;
    border-radius: 500px;
}

.picture-div {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 20px;
    border: 1px black;
}

.text-div {
    margin-top: 0px;
    margin-right: 15px;
}

.hello {
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.p1 {
    font-size: 18px;
}

.button-div {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 35px;
}

.cv-button {
    height: 30px;
    width: 110px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(0,80,255);
    color: white;
}

.portfolio-button {
    height: 30px;
    width: 110px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: transparent;
}



