.h1-name {
    margin-left: 60px;
    color: black;
    font-family: sans-serif;
    margin-bottom: 30px;
    font-size: 35px;
}

.web-canvas {
    background-color: rgb(238,217,196);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-canvas {
    background-color: rgb(250,240,230);
    min-height: 45vh;
    max-width: 65vh;
    width: 100%;
    display: flex;
    transform: translateY(-15vh);
    flex-direction: row;
}

.picture-div {
    min-height: 40%;
    width: 100%;
    border: 1px black;
    background-color: transparent;
}

.picture {
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    object-fit: cover;
    transform: translateX(34%) translateY(10%);
    min-height: 40%;
    min-width: 40%;
}

.text-div {
    min-height: 40vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.hello {
    font-size: 130px;
    margin-top: 5%;
    margin-bottom: 0%;
    transform: translateX(5%);
}

.p1 {
    font-size: 220%;
    transform: translateX(5%);
    width: 97%;
    
}

.button-div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    transform: translateX(7%);
}

.cv-button {
    height:45px;
    width: 40%;
    border-radius: 50px;
    border: transparent;
    cursor: pointer;
    background-color: rgb(0,80,255);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.portfolio-button {
    height:45px;
    width: 40%;   
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
}

