/* rgb(68 69 75) hover
rgb(26 26 26) background
rgb(148 243 228) letter
rgb(55 170 156) button */

.CV-page {
  color: white;
  background-color: rgb(26 26 26);
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 1000px) {
  .CV-page {
    color: white;
    background-color: rgb(26 26 26);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

.titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: white;
  font-size: clamp(1.3rem, 3vw, 2.2rem)
}

.undertitles {
  font-size: clamp(1.1rem, 1.6vw, 2rem);
}

.CV-titles {
  font-size: clamp(1.3rem, 3vw, 2.2rem)
}

.section {
  background-color: rgb(26 26 26);
  max-width: 40%;
  margin: 40px auto; 
  padding: 40px;
  border-radius: 12px;
  border:2px solid rgb(148 243 228);
  overflow-wrap: anywhere;
  white-space: normal;
}

@media (max-height: 1000px) {
  .section {
    background-color: rgb(26 26 26);
    width: 100%;
    border-radius: 12px;
    border:2px solid rgb(148 243 228);
    overflow-wrap: anywhere;
    white-space: normal;
  }
}

.section-contact {
  background-color: rgb(26 26 26);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1100px) {
.section-contact {
  background-color: rgb(26 26 26);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
}

.divider {
  width: 100%;
  border: 0;
  height: 2px;
  background-color: rgb(148 243 228);
  margin: 10px auto;
}

.divider2 {
  margin-bottom: 0vh;
  width: 100%;
  border: 0;
  height: 2px;
  background-color: rgb(148 243 228);
  margin: 10px auto;
}


.education-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.place {
  font-size: clamp(1rem, 1.2vw, 1.8rem)
}

.dates {
  color: rgb(148 243 228);
  font-size: clamp(1rem, 1vw, 1.8rem);
}
.semester {
  font-size: clamp(1rem, 1.2vw, 2rem);
}

.courses li {
  font-size: clamp(1rem, 1vw, 1.8rem);
}

@media (max-width: 600px) {
  .courses {
    padding-left: 0;
    margin-left: 0;
    text-align: start;
  }
}

@media (max-width: 600px) {
  .courses li {
    margin-bottom: 2rem;
  }
}

.experience-list {
  font-size: clamp(1rem, 1vw, 1.8rem);
}

@media (max-width: 600px) {
  .experience-list {
    padding-left: 0;
    margin-left: 0;
    text-align: start;
  }
}

@media (max-width: 600px) {
  .experience-list li {
    margin-bottom: 2rem;
  }
}

.tasks {
  font-size: 1.8vh;
}

.contacts {
  color: white;
}

.contacts strong {
  color: rgb(148 243 228);
}

.contacts a {
  color: white;
  margin-left: 1%;
}

.contacts a:hover {
  color: rgb(68 69 75);
}
