.project-title {
  color: white;
  margin-bottom: 8%;
  font-size: clamp(1.8rem, 2.4vw, 3.3rem);
  font-weight: bold;
  overflow-wrap: anywhere;
  white-space: normal;
  text-align: center;
}

.project-page {
  width: 100%;
  height: 100%;
  background-color: rgb(26 26 26);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

@media(max-width: 700px) {
  .project-page {
    margin-top: 15%;
  }
}

.project-section_and_video {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-section {
  display: flex;
  width: 90%;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  gap: 6%;
}

@media (max-width: 1000px) {
  .project-section {
    flex-direction: column;
  }
}

.project-card {
  background-color: rgb(26 26 26);
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.project-card h1 {
  font-size: clamp(1.5rem, 2vw, 2.9rem);
  overflow-wrap: anywhere;
  white-space: normal;
  font-weight:bold;
}

.project-text {
  margin-top: 0;
  text-align: start;
  word-spacing: 0.2em;
  line-height: 1.7;
  font-size: clamp(1rem, 1vw, 1.8rem);
  overflow-wrap: anywhere;
  white-space: normal;
}

.more-info {
  color:rgb(148 243 228);
  margin-top: 0;
  text-align: start;
  font-weight: bold;
  overflow-wrap: anywhere;
  font-size: clamp(1rem, 1vw, 1.8rem);
  white-space: normal;
}

.more-info a {
  color: white;
  font-weight: normal;
  overflow-wrap: anywhere;
  white-space: normal;
  font-size: clamp(0.8rem, 1vw, 1.8rem);
}

.more-info a:hover {
  color: rgb(68 69 75);
}

.project-card a{
  color:white;
  margin-top: 0;
  text-align: start;
  word-spacing: 0.2em;
  line-height: 1.7; 
  font-size: clamp(1rem, 1vw, 1.8rem);
}

.tech {
  color: rgb(148 243 228);
  font-size: clamp(1rem, 1vw, 1.8rem);
  overflow-wrap: anywhere
}

.tech-text {
  font-size: clamp(1rem, 1vw, 1.8rem);
  color: white;
  margin-top: 0;
  text-align: start;
  word-spacing: 0.2em;
  line-height: 1.7;
}

.imga {
  width: 100%;
  height: 90%;
  object-fit:scale-down;
}

.software-engineering {
  color: white;
  margin-bottom: 10%;
  margin-top: 10%;
  font-size: clamp(1.8rem, 2.4vw, 3.3rem);
  font-weight: bold;
  overflow-wrap: anywhere;
  white-space: normal;
  text-align: center;
}

.highlight {
  color: rgb(148 243 228);
}

.video-box {
  width: 60%;
  height: 70vh;
  margin-top: 5%;
  margin-bottom: 10%;
}

iframe {
  width: 100%;
  height: 100%;
}

.technology1 {
  color: white;
  margin-bottom: 10%;
  overflow-wrap: anywhere;
  white-space: normal;
  font-size: clamp(1rem, 1vw, 1.8rem);
}

.technology2 {
  color: white;
  margin-bottom: 20%;
  overflow-wrap: anywhere;
  white-space: normal;
  font-size: clamp(1rem, 1vw, 1.8rem);
}

.technology-title {
  color: white;
  margin-bottom: 5%;
  font-size: clamp(1.8rem, 2.4vw, 3.3rem);
  font-weight: bold;
  overflow-wrap: anywhere;
  white-space: normal;
  text-align: center;
}

.technology-section {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 10%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  width: 100%;
}

@media (max-width: 550px) {
  .technology-section {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
  }
}