/* rgb(68 69 75) hover
rgb(26 26 26) background
rgb(148 243 228) letter
rgb(55 170 156) button */

.webpage {
  background-color: rgb(26 26 26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6vh;
}

@media (max-width: 800px) {
  .webpage {
    background-color: rgb(26 26 26);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    margin-top: 6vh;
}
}

.webpage .card {
  width: 100%;
  background-color: rgb(26 26 26);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 2%;
}

@media (max-width: 800px) {
  .webpage .card {
    width: 100%;
    background-color: rgb(26 26 26);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  }
}

.pic-div {
  width: 65%;
  background-color: rgb(26 26 26);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.webpage .card .card-image {
  width: 50%;
  height: 70%;
  border-radius: 100%;
  margin-top: 8%;
  object-fit:cover;
  border: 2px solid rgb(55 170 156);
}

.pic-bio {
  text-align: center;
  margin-left: 0vh;
  margin-bottom: 2vh;
}

.text-div {
  margin-top: 3%;
  width: 100%;
  background-color: rgb(26 26 26); 
  color: white;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: start;
}

@media(max-width: 800px) {
  .text-div {
    margin-top: 3%;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(26 26 26); 
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.hello {
  color: rgb(148 243 228);
  font-size: clamp(1rem, 1.4vw, 1.8rem);
  font-weight: bold;

}

.role {
  color: white;
  font-size: clamp(1rem, 4vw, 3rem);
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight: bold;
}

.bio-text {
  text-align: start;
  margin-left: 0%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  word-spacing: 0.2em;
  line-height: 1.7;
  font-size: clamp(0.8rem, 1.1vw, 1.6rem);
}

@media (max-width: 800px) {
  .bio-text {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    word-spacing: 0em;
    line-height: 1.7;
    overflow-wrap: anywhere;
  }
}

.button-div {
  display: flex;
  justify-content: start;
  text-align: start;
  align-items: stretch;
  flex-direction: row;
}

@media (max-width: 900px) {
  .button-div {
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    height: 90%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

@media (max-width: 800px) {
  .button-div {
    justify-content: center;
    align-items: center;
  }
}


.card-button {
  font-size: clamp(1rem, 1.2vw, 1.8rem);
  width: clamp(7rem, 10vw, 14rem);
  height: clamp(2.8rem, 6vh, 4rem);
  cursor: pointer;
  color: white;
  background-color: rgb(55 170 156);
  border: transparent;
}

.card-button:hover {
  background-color: rgb(51 63 68);
}

.link-div {
  margin-top: 2.7%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  gap: 1.5%;
}

@media (max-width: 800px) {
  .link-div {
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
}

@media (max-width: 150px) {
  .link-div {
    margin-top: 2.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 135px;
  }
}

.link {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(55 170 156);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media (min-width: 1700px) {
  .link {
    height: 60px;
    width: 60px;
  }
}

.link:hover {
  background-color: rgb(68 69 75);
  cursor: pointer
}

.link img {
  object-fit: contain;
  height: 60%;
  width: 60%;
}

.mail {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/* ----- Latest Project ----- */

.latest-projects-section {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgb(26 26 26);
  margin-top: 5%;
  margin-bottom: 10%;
}

@media (max-width: 800px) {
  .latest-projects-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(26 26 26);
    margin-top: 5%;
    margin-bottom: 10%;
}
}

.latest-projects-text-and-button {
  width: 100%;
  gap:42%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1100px) {
.latest-projects-text-and-button {
  width: 100%;
  gap: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

.latest-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .latest-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.latest-text h1 {
  color: white;
  margin-bottom: 2.5%;
  font-weight: bold;
  font-size: clamp(1rem, 2.4vw, 2.8rem);
  white-space: normal;
  overflow-wrap: anywhere;
}

.latest-text h3 {
  color: white;
  margin-top: 2.5%;
  font-size: clamp(1rem, 1.3vw, 2rem)
}

.see-all-button {
  font-size: clamp(1rem, 1.2vw, 1.8rem);
  width: clamp(7rem, 10vw, 14rem);
  height: clamp(2.8rem, 6vh, 4rem);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  background-color: rgb(55 170 156);
  border: transparent;
  text-decoration: none;
}

.see-all-button:hover {
  background-color: rgb(51 63 68);
}

.latest-projects-card-section {
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

@media (max-width: 1000px) {
.latest-projects-card-section {
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5%;
}
}

.card-and-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1000px) {
.card-and-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}
}

.latest-projects-card {
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
}

.latest-projects-card img {
  height: 350px;
  width: 100%;
  border: 10px solid rgb(68 69 75);
  object-fit: cover;
}

.card-text {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 0%;
}

@media (max-width: 550px) {
  .card-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0%;
  }  
}


.card-text h2 {
  color: white;
  margin-top: 2%;
  margin-bottom: 0%;
  font-size: clamp(1rem, 1.8vw, 3rem);
}

.more {
  color: rgb(148 243 228);
  margin-top: 2%;
  text-decoration: none;
  font-size: clamp(1rem, 1.2vw, 1.8rem);
}

.more:hover {
  color: rgb(68 69 75);
}