.head {
  background-color: rgb(26 26 26);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .head {
    background-color: rgb(26 26 26);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.foot {
  width: 100%;
  background-color: rgb(68 69 75);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.web-header-left,
.web-header-center,
.web-header-right {
  flex: 1;
}

.web-header-left {
  color: white;
  margin-left: 3.5%;
  font-size: clamp(1.6rem, 1.8vw, 3rem);
}

.web-header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .web-header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 0%;
  }
}

.highlight {
  color: rgb(148 243 228);
}

.nav {
  white-space: nowrap;
}

.navbar {
  width: 100%;
  display: flex;
  padding-right: 25%;
  margin-right: 10%;
}

.navbar-ul {
  display: flex;
  gap: 5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
}

@media (max-width: 700px) {
  .navbar-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
}
}

.navbar a{
  text-decoration: none;
}

.navbar li {
  color: white;
  cursor: pointer;
}

.nav-button a {
  color: white;
  font-size: clamp(1.1rem, 1.2vw, 2.5rem);  
}

.nav-button a:hover {
  color: rgb(148 243 228);
}

.nav-button a.active {
  color: rgb(148 243 228);
}