body {
  background: rgb(37 38 41);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.head {
  background-color: rgb(68 69 75);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.foot {
  width: 100%;
  background-color: rgb(68 69 75);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.web-header-left,
.web-header-center,
.web-header-right {
  flex: 1;
}


.web-header-left {
  color: white;
  margin-left: 2%;
  font-size: 35px;
}

.web-header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
}

.navbar-ul {
  display: flex;
  gap: 19%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a{
  text-decoration: none;
}

.navbar li {
  color: white;
  cursor: pointer;
}

.nav-button a {
  color: white;
  font-size: 120%;
}

.nav-button a:hover {
  text-decoration: underline rgb(238 195 22) 2px;
}

.nav-button a.active {
  text-decoration: underline rgb(238 195 22) 2px;
}

.webpage {
  background-color: rgb(37 38 41);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
}

.webpage .card {
  max-width: 92vh;
  width: 100%;
  background-color: rgb(37 38 41);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 2%;
}

@media (max-width: 600px) {
  .webpage .card {
    width: 100%;
    background-color: rgb(37 38 41);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 2%;
  }
}

.pic-div {
  width: 65%;
  background-color: rgb(238 195 22);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*
rgb(252, 209, 42)
rgb(44, 45, 45)*/

.webpage .card .card-image {
  width: 25vh;
  height: 30vh;
  border-radius: 100%;
  margin-top: 8%;
  object-fit: cover;
}

.pic-bio {
  text-align: center;
  margin-left: 0vh;
  margin-bottom: 2vh;
}

.text-div {
  width: 100%;
  background-color: rgb(37 38 41);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 2px solid rgb(238 195 22);
}

.hello {
  color: white;
  font-size: 10vh;
  margin-top: 0%;
  margin-bottom: 4%;
}

.bio-text {
  text-align: start;
  margin-left: 8%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 6%;
  word-spacing: 0.2em;
  line-height: 1.7;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 5%;
  flex-direction: row;
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 10%;
}

@media (max-width: 600px) {
  .button-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card-button {
  margin-top: 8%;
  width: 100%;
  height: 65%;
  cursor: pointer;
  font-size: 110%;
  color: white;
  background-color: rgb(68 69 75);
  border: transparent;
}

.card-button:hover {
  background-color: darkgray;
}



/*---------- CV PAGE ----------*/




.CV-page {
  color: white;
  background-color: rgb(37 38 41);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 1000px) {
  .CV-page {
    color: white;
    background-color: rgb(37 38 41);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: white;
}

.section {
  background-color: rgb(37 38 41);
  max-width: 40%;
  margin: 40px auto; 
  padding: 40px;
  border-radius: 12px;
  border:2px solid rgb(238 195 22);
}

@media (max-height: 1000px) {
  .section {
    background-color: rgb(37 38 41);
    width: 100%;
    margin: 40px auto; 
    padding: 40px;
    border-radius: 12px;
    border:2px solid rgb(238 195 22);
  }
}

.utdanning {
  font-size: 4.5vh;
}

.divider {
  width: 100%;
  border: 0;
  height: 2px;
  background-color: rgb(238 195 22);
  margin: 10px auto;
}

.divider2 {
  margin-bottom: 0vh;
  width: 100%;
  border: 0;
  height: 2px;
  background-color: rgb(238 195 22);
  margin: 10px auto;
}

.alma-mater {
  font-size: 2vh;
}

.education-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dates {
  color: rgb(238 195 22);
}

.experience-div {
  background-color: gray;
  width: 10vh;
  height: 10vh;
}

.tasks {
  font-size: 1.8vh;
}

.contacts {
  color: white;
}

.contacts a {
  color: white;
  margin-left: 1%;
}

.contacts a:hover {
  color: darkgray;
}




/*---------- PROJECT PAGE ----------*/





.project-title {
  color: white;
  margin-bottom: 8%;
  font-size: 278%;
}

.software-engineering {
  color: white;
  margin-bottom: 10%;
  margin-top: 10%;
  font-size: 278%;
}

.project-page {
  width: 100vw;
  height: 100%;
  background-color: rgb(37 38 41);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.project-section {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: stretch;
  margin-bottom: 5%;
  gap: 6%;
  padding-left: 5%;
  padding-right: 5%;
}

@media (max-width: 1000px) {
  .project-section {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: stretch;
    margin-bottom: 5%;
    gap: 6%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* @media (max-height: 800px) {
  .project-section {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 8%;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 5%;
  }
} */

.project-card {
  background-color: rgb(37 38 41);
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.project-text {
  margin-top: 0;
  text-align: start;
  margin-left: 3%;
  margin-right: 3%;
  word-spacing: 0.2em;
  line-height: 1.7;
}

.more-info {
  margin-top: 0;
  text-align: start;
  margin-left: 3%;
}

.more-info a {
  color: white;
  text-decoration: none;
}

.more-info a:hover {
  color: darkgray;
  text-decoration: none;
}

.project-card a{
  color:white;
  margin-top: 0;
  text-align: start;
  margin-left: 3%;
  margin-right: 3%;
  word-spacing: 0.2em;
  line-height: 1.7; 
}

.tech-text {
  color: rgb(238 195 22);
  margin-top: 0;
  text-align: start;
  margin-left: 3%;
  margin-right: 3%;
  word-spacing: 0.2em;
  line-height: 1.7;
}

.imga {
  width: 100%;
  height: 90%;
  object-fit:scale-down;
}

.sunshine-div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-right: 0;
}

.sunshine-card {
  background-color: rgb(37 38 41);
  color: white;
  width: 80vh;
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 20%;
}

.video-box {
  width: 60%;
  height: 70vh;
  margin-bottom: 12%;
}

iframe {
  width: 100%;
  height: 100%;
}

.technology1 {
  color: white;
  margin-bottom: 10%;
}

.technology2 {
  color: white;
  margin-bottom: 20%;
}

.technology-title {
  color: white;
  margin-bottom: 5%;
  font-size: 278%;
}

.technology-section {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 10%;
  align-items: stretch;
  margin-bottom: 10%;
}