@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background: rgb(26 26 26);
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0%;
  padding: 0%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}