body {
  background: black;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.webheader {
  color: white;
  margin-bottom: 10vh;
  margin-left: 2%;
  font-size: 35px;
}

.webpage {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webpage .card {
  max-width: 80vh;
  width: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.pic-div {
  width: 50%;
  background-color: rgb(252, 209, 42);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-div {
  width: 50%;
  background-color: rgb(44, 45, 45);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.webpage .card .card-image {
  width: 25vh;
  height: 30vh;
  border-radius: 100%;
  margin-top: 8%;
  object-fit: cover;
}

.pic-bio {
  text-align: start;
  margin-left: 4.5vh;
  margin-bottom: 2vh;
}

.hello {
  color: white;
  font-size: 10vh;
  margin-top: 3%;
  margin-bottom: 8%;
}

.bio-text {
  text-align: start;
  margin-left: 8%;
  margin-right: 5%;
  margin-top: 5%;
}

.button-div {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.card-button {
  margin-top: 15%;
  width: 40%;
  height: 4vh;
  cursor: pointer;
  font-size: 2vh;
  color: white;
  background-color: grey;
  border: 1px solid white;
}

.card-button:hover {
  background-color: darkgray;
}

.CV-page {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.section {
  background-color: grey;
  max-width: 55vh;
  margin: 40px auto; 
  padding: 40px;
  border-radius: 12px;
  border:5px solid rgb(252, 209, 42);
}

.utdanning {
  font-size: 4.5vh;
}

.divider {
  width: 100%;
  border: 0;
  height: 2px;
  background-color: black;
  margin: 10px auto;
}

.alma-mater {
  font-size: 2vh;
}

.education-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dates {
  color: black;
}

.experience-div {
  background-color: gray;
  width: 10vh;
  height: 10vh;
}

.tasks {
  font-size: 1.8vh;
}

.project-card {
  width: 80vh;
  height: 60vh;
  background-color: aqua;
}