body {
  background-color: black;
  font-family: sans-serif;
}

.webheader {
  color: white;
  margin-bottom: 10vh;
  margin-left: 2%;
  font-size: 35px;

}

.webpage {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-div {
  width: 50%;
  height: 100%;
  background-color: rgb(252, 209, 42);
}

.text-div {
  width: 50%;
  height: 100%;
  background-color: rgb(44, 45, 45);
  color: white;
}

.webpage .card {
  max-width: 80vh;
  min-height: 45vh;
  width: 100%;
  height: 60vh;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.webpage .card .card-image {
  width: 25vh;
  height: 30vh;
  border-radius: 100%;
  margin-top: 8%;
  object-fit: cover;
}

.hello {
  color: white;
  font-size: 10vh;
  margin-top: 3%;
  margin-bottom: 8%;
}

.bio-text {
  text-align: start;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15%;
}

.button-div {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.card-button {
  margin-top: 30%;
  width: 40%;
  height: 4vh;
  cursor: pointer;
  font-size: 2vh;
  color: white;
  background-color: grey;
  border: 1px solid white;
}