.contact-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-page h1 {
    color: white;
    margin-top: 3%;
    font-size: clamp(1.8rem, 2.4vw, 3.3rem);
    font-weight: bold;
    text-align: center;
}

.highlight {
    color: rgb(148 243 228);
}

.contact-card {
    width: 99%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(26 26 26);
    border: 2px solid rgb(148 243 228);
    font-size: clamp(1rem, 1.4vw, 2rem);
}

@media(max-width: 700px) {
    .contact-page {
        margin-top: 15%;
    }
}

.contact-card p {
    color: white;
}

.contact-card p strong {
    color: rgb(148 243 228);
}

.contact-card p a {
    color: white;
    white-space: normal;
}

.contact-card p a:hover {
    color: rgb(68 69 75);
}

@media(max-width: 300px) {
    .contact-card {
        overflow-wrap: anywhere;
    }
}